/* colors */
$bg-color: #282828;
$fg-color: #458588;

$color-bg: $bg-color;
$color-fg: $fg-color;


/* basic colors */
$red: #cc241d;
$light-red: #fb4934;

$green: #98971a;
$light-green: #8ec07C;

$yellow: #d79921;
$light-yellow: #fabd2f;

$blue: #458588;
$light-blue: #83a598;

$purple: #b16286;
$light-purple: #d2869b;

$aqua: #689d6a;
$light-aqua: #8ec07c;

$gray: #a89984;
$light-gray: #ebdbb2;

$orange: #d65d0e;
$light-orange: #fe8019;

/* domain color */
$color-primary: $light-blue;
$color-success: $light-green;
$color-warning: $light-yellow;
$color-danger: $light-red;


