/* colors */
/* basic colors */
/* domain color */
body {
  background-image: url("../img/bg-pattern.png");
  background-repeat: repeat;
  font-family: 'Julius Sans One', sans-serif;
  color: #83a598; }

#container {
  background: #282828;
  height: 100%;
  left: 0px;
  opacity: 0.9;
  position: fixed;
  top: 0px;
  width: 100%; }

/* elementary common style */
.borderless {
  border: solid 0px !important; }

.vstack {
  margin-top: 0 !important; }

.vstack-first {
  margin-top: 0 !important; }

.vstack-last {
  margin-top: 0 !important;
  margin-bottom: 2px !important; }

.hstack {
  margin-left: 0 !important; }

.hstack-first {
  margin-left: 0 !important; }

.hstack-last {
  margin-left: 0 !important;
  margin-right: 2px !important; }

/* colors */
/* basic colors */
/* domain color */
/**
 * setup a window with color, font and font size
 */
.win, .win-primary {
  background: #282828;
  border: solid 1px #83a598;
  opacity: 1;
  position: fixed; }
  .win > .win-content, .win-primary > .win-content {
    float: left;
    width: 100%;
    height: 100%; }
  .win > .win-tlo, .win-primary > .win-tlo {
    border-bottom: solid 3px #83a598;
    border-right: solid 3px #83a598;
    height: 6px;
    position: absolute;
    width: 6px;
    left: -8px;
    top: -8px; }
  .win > .win-tlo:hover, .win-primary > .win-tlo:hover {
    cursor: move; }
  .win > .win-tli, .win-primary > .win-tli {
    border-left: solid 3px #83a598;
    border-top: solid 3px #83a598;
    height: 6px;
    position: absolute;
    width: 6px;
    left: -2px;
    top: -2px; }
  .win > .win-tro, .win-primary > .win-tro {
    border-bottom: solid 3px #83a598;
    border-left: solid 3px #83a598;
    height: 6px;
    position: absolute;
    right: -8px;
    width: 6px;
    top: -8px; }
  .win > .win-tro:hover, .win-primary > .win-tro:hover {
    cursor: move; }
  .win > .win-tri, .win-primary > .win-tri {
    border-right: solid 3px #83a598;
    border-top: solid 3px #83a598;
    height: 6px;
    position: absolute;
    right: -2px;
    top: -2px;
    width: 6px; }
  .win > .win-blo, .win-primary > .win-blo {
    border-right: solid 3px #83a598;
    border-top: solid 3px #83a598;
    bottom: -8px;
    height: 6px;
    position: absolute;
    width: 6px;
    left: -8px; }
  .win > .win-blo:hover, .win-primary > .win-blo:hover {
    cursor: move; }
  .win > .win-bli, .win-primary > .win-bli {
    border-bottom: solid 3px #83a598;
    border-left: solid 3px #83a598;
    bottom: -2px;
    height: 6px;
    position: absolute;
    width: 6px;
    left: -2px; }
  .win > .win-bro, .win-primary > .win-bro {
    border-left: solid 3px #83a598;
    border-top: solid 3px #83a598;
    bottom: -8px;
    height: 6px;
    position: absolute;
    right: -8px;
    width: 6px; }
  .win > .win-bro:hover, .win-primary > .win-bro:hover {
    cursor: move; }
  .win > .win-bri, .win-primary > .win-bri {
    border-bottom: solid 3px #83a598;
    border-right: solid 3px #83a598;
    bottom: -2px;
    height: 6px;
    position: absolute;
    right: -2px;
    width: 6px; }

.win-success {
  background: #282828;
  border: solid 1px #8ec07C;
  opacity: 1;
  position: fixed; }
  .win-success > .win-content {
    float: left;
    width: 100%;
    height: 100%; }
  .win-success > .win-tlo {
    border-bottom: solid 3px #8ec07C;
    border-right: solid 3px #8ec07C;
    height: 6px;
    position: absolute;
    width: 6px;
    left: -8px;
    top: -8px; }
  .win-success > .win-tlo:hover {
    cursor: move; }
  .win-success > .win-tli {
    border-left: solid 3px #8ec07C;
    border-top: solid 3px #8ec07C;
    height: 6px;
    position: absolute;
    width: 6px;
    left: -2px;
    top: -2px; }
  .win-success > .win-tro {
    border-bottom: solid 3px #8ec07C;
    border-left: solid 3px #8ec07C;
    height: 6px;
    position: absolute;
    right: -8px;
    width: 6px;
    top: -8px; }
  .win-success > .win-tro:hover {
    cursor: move; }
  .win-success > .win-tri {
    border-right: solid 3px #8ec07C;
    border-top: solid 3px #8ec07C;
    height: 6px;
    position: absolute;
    right: -2px;
    top: -2px;
    width: 6px; }
  .win-success > .win-blo {
    border-right: solid 3px #8ec07C;
    border-top: solid 3px #8ec07C;
    bottom: -8px;
    height: 6px;
    position: absolute;
    width: 6px;
    left: -8px; }
  .win-success > .win-blo:hover {
    cursor: move; }
  .win-success > .win-bli {
    border-bottom: solid 3px #8ec07C;
    border-left: solid 3px #8ec07C;
    bottom: -2px;
    height: 6px;
    position: absolute;
    width: 6px;
    left: -2px; }
  .win-success > .win-bro {
    border-left: solid 3px #8ec07C;
    border-top: solid 3px #8ec07C;
    bottom: -8px;
    height: 6px;
    position: absolute;
    right: -8px;
    width: 6px; }
  .win-success > .win-bro:hover {
    cursor: move; }
  .win-success > .win-bri {
    border-bottom: solid 3px #8ec07C;
    border-right: solid 3px #8ec07C;
    bottom: -2px;
    height: 6px;
    position: absolute;
    right: -2px;
    width: 6px; }

.win-warning {
  background: #282828;
  border: solid 1px #fabd2f;
  opacity: 1;
  position: fixed; }
  .win-warning > .win-content {
    float: left;
    width: 100%;
    height: 100%; }
  .win-warning > .win-tlo {
    border-bottom: solid 3px #fabd2f;
    border-right: solid 3px #fabd2f;
    height: 6px;
    position: absolute;
    width: 6px;
    left: -8px;
    top: -8px; }
  .win-warning > .win-tlo:hover {
    cursor: move; }
  .win-warning > .win-tli {
    border-left: solid 3px #fabd2f;
    border-top: solid 3px #fabd2f;
    height: 6px;
    position: absolute;
    width: 6px;
    left: -2px;
    top: -2px; }
  .win-warning > .win-tro {
    border-bottom: solid 3px #fabd2f;
    border-left: solid 3px #fabd2f;
    height: 6px;
    position: absolute;
    right: -8px;
    width: 6px;
    top: -8px; }
  .win-warning > .win-tro:hover {
    cursor: move; }
  .win-warning > .win-tri {
    border-right: solid 3px #fabd2f;
    border-top: solid 3px #fabd2f;
    height: 6px;
    position: absolute;
    right: -2px;
    top: -2px;
    width: 6px; }
  .win-warning > .win-blo {
    border-right: solid 3px #fabd2f;
    border-top: solid 3px #fabd2f;
    bottom: -8px;
    height: 6px;
    position: absolute;
    width: 6px;
    left: -8px; }
  .win-warning > .win-blo:hover {
    cursor: move; }
  .win-warning > .win-bli {
    border-bottom: solid 3px #fabd2f;
    border-left: solid 3px #fabd2f;
    bottom: -2px;
    height: 6px;
    position: absolute;
    width: 6px;
    left: -2px; }
  .win-warning > .win-bro {
    border-left: solid 3px #fabd2f;
    border-top: solid 3px #fabd2f;
    bottom: -8px;
    height: 6px;
    position: absolute;
    right: -8px;
    width: 6px; }
  .win-warning > .win-bro:hover {
    cursor: move; }
  .win-warning > .win-bri {
    border-bottom: solid 3px #fabd2f;
    border-right: solid 3px #fabd2f;
    bottom: -2px;
    height: 6px;
    position: absolute;
    right: -2px;
    width: 6px; }

.win-danger {
  background: #282828;
  border: solid 1px #fb4934;
  opacity: 1;
  position: fixed; }
  .win-danger > .win-content {
    float: left;
    width: 100%;
    height: 100%; }
  .win-danger > .win-tlo {
    border-bottom: solid 3px #fb4934;
    border-right: solid 3px #fb4934;
    height: 6px;
    position: absolute;
    width: 6px;
    left: -8px;
    top: -8px; }
  .win-danger > .win-tlo:hover {
    cursor: move; }
  .win-danger > .win-tli {
    border-left: solid 3px #fb4934;
    border-top: solid 3px #fb4934;
    height: 6px;
    position: absolute;
    width: 6px;
    left: -2px;
    top: -2px; }
  .win-danger > .win-tro {
    border-bottom: solid 3px #fb4934;
    border-left: solid 3px #fb4934;
    height: 6px;
    position: absolute;
    right: -8px;
    width: 6px;
    top: -8px; }
  .win-danger > .win-tro:hover {
    cursor: move; }
  .win-danger > .win-tri {
    border-right: solid 3px #fb4934;
    border-top: solid 3px #fb4934;
    height: 6px;
    position: absolute;
    right: -2px;
    top: -2px;
    width: 6px; }
  .win-danger > .win-blo {
    border-right: solid 3px #fb4934;
    border-top: solid 3px #fb4934;
    bottom: -8px;
    height: 6px;
    position: absolute;
    width: 6px;
    left: -8px; }
  .win-danger > .win-blo:hover {
    cursor: move; }
  .win-danger > .win-bli {
    border-bottom: solid 3px #fb4934;
    border-left: solid 3px #fb4934;
    bottom: -2px;
    height: 6px;
    position: absolute;
    width: 6px;
    left: -2px; }
  .win-danger > .win-bro {
    border-left: solid 3px #fb4934;
    border-top: solid 3px #fb4934;
    bottom: -8px;
    height: 6px;
    position: absolute;
    right: -8px;
    width: 6px; }
  .win-danger > .win-bro:hover {
    cursor: move; }
  .win-danger > .win-bri {
    border-bottom: solid 3px #fb4934;
    border-right: solid 3px #fb4934;
    bottom: -2px;
    height: 6px;
    position: absolute;
    right: -2px;
    width: 6px; }

/* colors */
/* basic colors */
/* domain color */
.win-section, .win-section-primary {
  border: solid 1px #83a598;
  margin: 2px;
  text-align: center;
  text-transform: uppercase;
  background-color: #282828;
  border-color: #83a598;
  color: #83a598; }
  .win-section > .win-section-content, .win-section-primary > .win-section-content {
    display: inline-block;
    background-color: #282828;
    color: #83a598;
    margin: 2px;
    max-width: 80%;
    padding: 5px; }

.win-section-primary-invert {
  border: solid 1px #83a598;
  margin: 2px;
  text-align: center;
  text-transform: uppercase;
  background-color: #83a598;
  border-color: #83a598;
  color: #282828; }
  .win-section-primary-invert > .win-section-content {
    display: inline-block;
    background-color: #83a598;
    color: #282828;
    margin: 2px;
    max-width: 80%;
    padding: 5px; }

.win-section-primary-stripe {
  border: solid 1px #83a598;
  margin: 2px;
  text-align: center;
  text-transform: uppercase;
  background: repeating-linear-gradient(-45deg, #282828, #282828 10px, #83a598 10px, #83a598 20px);
  background-color: #282828;
  color: #83a598; }
  .win-section-primary-stripe > .win-section-content {
    display: inline-block;
    background-color: #282828;
    color: #83a598;
    margin: 2px;
    max-width: 80%;
    padding: 5px; }

.win-section-success {
  border: solid 1px #8ec07C;
  margin: 2px;
  text-align: center;
  text-transform: uppercase;
  background-color: #282828;
  border-color: #8ec07C;
  color: #8ec07C; }
  .win-section-success > .win-section-content {
    display: inline-block;
    background-color: #282828;
    color: #8ec07C;
    margin: 2px;
    max-width: 80%;
    padding: 5px; }

.win-section-success-invert {
  border: solid 1px #8ec07C;
  margin: 2px;
  text-align: center;
  text-transform: uppercase;
  background-color: #8ec07C;
  border-color: #8ec07C;
  color: #282828; }
  .win-section-success-invert > .win-section-content {
    display: inline-block;
    background-color: #8ec07C;
    color: #282828;
    margin: 2px;
    max-width: 80%;
    padding: 5px; }

.win-section-success-stripe {
  border: solid 1px #8ec07C;
  margin: 2px;
  text-align: center;
  text-transform: uppercase;
  background: repeating-linear-gradient(-45deg, #282828, #282828 10px, #8ec07C 10px, #8ec07C 20px);
  background-color: #282828;
  color: #8ec07C; }
  .win-section-success-stripe > .win-section-content {
    display: inline-block;
    background-color: #282828;
    color: #8ec07C;
    margin: 2px;
    max-width: 80%;
    padding: 5px; }

.win-section-warning {
  border: solid 1px #fabd2f;
  margin: 2px;
  text-align: center;
  text-transform: uppercase;
  background-color: #282828;
  border-color: #fabd2f;
  color: #fabd2f; }
  .win-section-warning > .win-section-content {
    display: inline-block;
    background-color: #282828;
    color: #fabd2f;
    margin: 2px;
    max-width: 80%;
    padding: 5px; }

.win-section-warning-invert {
  border: solid 1px #fabd2f;
  margin: 2px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fabd2f;
  border-color: #fabd2f;
  color: #282828; }
  .win-section-warning-invert > .win-section-content {
    display: inline-block;
    background-color: #fabd2f;
    color: #282828;
    margin: 2px;
    max-width: 80%;
    padding: 5px; }

.win-section-warning-stripe {
  border: solid 1px #fabd2f;
  margin: 2px;
  text-align: center;
  text-transform: uppercase;
  background: repeating-linear-gradient(-45deg, #282828, #282828 10px, #fabd2f 10px, #fabd2f 20px);
  background-color: #282828;
  color: #fabd2f; }
  .win-section-warning-stripe > .win-section-content {
    display: inline-block;
    background-color: #282828;
    color: #fabd2f;
    margin: 2px;
    max-width: 80%;
    padding: 5px; }

.win-section-danger {
  border: solid 1px #fb4934;
  margin: 2px;
  text-align: center;
  text-transform: uppercase;
  background-color: #282828;
  border-color: #fb4934;
  color: #fb4934; }
  .win-section-danger > .win-section-content {
    display: inline-block;
    background-color: #282828;
    color: #fb4934;
    margin: 2px;
    max-width: 80%;
    padding: 5px; }

.win-section-danger-invert {
  border: solid 1px #fb4934;
  margin: 2px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fb4934;
  border-color: #fb4934;
  color: #282828; }
  .win-section-danger-invert > .win-section-content {
    display: inline-block;
    background-color: #fb4934;
    color: #282828;
    margin: 2px;
    max-width: 80%;
    padding: 5px; }

.win-section-danger-stripe {
  border: solid 1px #fb4934;
  margin: 2px;
  text-align: center;
  text-transform: uppercase;
  background: repeating-linear-gradient(-45deg, #282828, #282828 10px, #fb4934 10px, #fb4934 20px);
  background-color: #282828;
  color: #fb4934; }
  .win-section-danger-stripe > .win-section-content {
    display: inline-block;
    background-color: #282828;
    color: #fb4934;
    margin: 2px;
    max-width: 80%;
    padding: 5px; }

/* colors */
/* basic colors */
/* domain color */
img, .img-primary, .img-warning, .img-danger {
  border: solid 1px #83a598;
  -webkit-filter: grayscale(100%) hhue-rotate(119deg) saturate(91.5%) brightness(98%);
  filter: brightness(50%) sepia(1) hue-rotate(119deg) saturate(91.5%) brightness(98%); }

.img-primary {
  border: solid 1px #83a598;
  -webkit-filter: grayscale(100%) hhue-rotate(119deg) saturate(91.5%) brightness(98%);
  filter: brightness(50%) sepia(1) hue-rotate(119deg) saturate(91.5%) brightness(98%); }

.img-warning {
  border: solid 1px #fabd2f;
  -webkit-filter: grayscale(100%) hue-rotate(4deg) saturate(170.5%) brightness(98%);
  filter: brightness(50%) sepia(1) hue-rotate(4deg) saturate(170.5%) brightness(98%); }

.img-danger {
  border: solid 1px #fb4934;
  -webkit-filter: grayscale(100%) hue-rotate(-32deg) saturate(171.5%) brightness(99%);
  filter: brightness(50%) sepia(1) hue-rotate(-32deg) saturate(171.5%) brightness(99%); }

/* colors */
/* basic colors */
/* domain color */
.btn, .btn-primary {
  background-color: #282828;
  border: solid 1px #83a598;
  box-shadow: 0px 0px 10px 0px #83a598;
  color: #83a598;
  cursor: pointer;
  font-size: 24px;
  font-weight: 900;
  margin: 2px;
  padding-top: auto;
  padding-bottom: auto;
  text-align: center; }
  .btn:hover, .btn-primary:hover {
    box-shadow: 0px 0px 20px 0px #83a598;
    text-shadow: 0px 0px 20px #83a598; }
  .btn:active, .btn-primary:active {
    text-shadow: none; }

.btn-success {
  background-color: #282828;
  border: solid 1px #8ec07C;
  box-shadow: 0px 0px 10px 0px #8ec07C;
  color: #8ec07C;
  cursor: pointer;
  font-size: 24px;
  font-weight: 900;
  margin: 2px;
  padding-top: auto;
  padding-bottom: auto;
  text-align: center; }
  .btn-success:hover {
    box-shadow: 0px 0px 20px 0px #8ec07C;
    text-shadow: 0px 0px 20px #8ec07C; }
  .btn-success:active {
    text-shadow: none; }

.btn-warning {
  background-color: #282828;
  border: solid 1px #fabd2f;
  box-shadow: 0px 0px 10px 0px #fabd2f;
  color: #fabd2f;
  cursor: pointer;
  font-size: 24px;
  font-weight: 900;
  margin: 2px;
  padding-top: auto;
  padding-bottom: auto;
  text-align: center; }
  .btn-warning:hover {
    box-shadow: 0px 0px 20px 0px #fabd2f;
    text-shadow: 0px 0px 20px #fabd2f; }
  .btn-warning:active {
    text-shadow: none; }

.btn-danger {
  background-color: #282828;
  border: solid 1px #fb4934;
  box-shadow: 0px 0px 10px 0px #fb4934;
  color: #fb4934;
  cursor: pointer;
  font-size: 24px;
  font-weight: 900;
  margin: 2px;
  padding-top: auto;
  padding-bottom: auto;
  text-align: center; }
  .btn-danger:hover {
    box-shadow: 0px 0px 20px 0px #fb4934;
    text-shadow: 0px 0px 20px #fb4934; }
  .btn-danger:active {
    text-shadow: none; }

/* colors */
/* basic colors */
/* domain color */
.title, .title-primary {
  background-color: #282828 !important;
  color: #83a598 !important;
  font-size: 24px !important;
  font-weight: 900 !important;
  margin: 0 !important; }

.title-success {
  background-color: #282828 !important;
  color: #8ec07C !important;
  font-size: 24px !important;
  font-weight: 900 !important;
  margin: 0 !important; }

.title-warning {
  background-color: #282828 !important;
  color: #fabd2f !important;
  font-size: 24px !important;
  font-weight: 900 !important;
  margin: 0 !important; }

.title-danger {
  background-color: #282828 !important;
  color: #fb4934 !important;
  font-size: 24px !important;
  font-weight: 900 !important;
  margin: 0 !important; }

.title-invert, .title-primary-invert {
  background-color: #83a598 !important;
  color: #282828 !important;
  font-size: 24px !important;
  font-weight: 900 !important;
  margin: 0 !important; }

.title-success-invert {
  background-color: #8ec07C !important;
  color: #282828 !important;
  font-size: 24px !important;
  font-weight: 900 !important;
  margin: 0 !important; }

.title-warning-invert {
  background-color: #fabd2f !important;
  color: #282828 !important;
  font-size: 24px !important;
  font-weight: 900 !important;
  margin: 0 !important; }

.title-danger-invert {
  background-color: #fb4934 !important;
  color: #282828 !important;
  font-size: 24px !important;
  font-weight: 900 !important;
  margin: 0 !important; }

.text, .text-primary {
  background-color: #282828 !important;
  color: #83a598 !important;
  font-size: 16px !important;
  margin: 0 !important; }

.text-success {
  background-color: #282828 !important;
  color: #8ec07C !important;
  font-size: 16px !important;
  margin: 0 !important; }

.text-warning {
  background-color: #282828 !important;
  color: #fabd2f !important;
  font-size: 16px !important;
  margin: 0 !important; }

.text-danger {
  background-color: #282828 !important;
  color: #fb4934 !important;
  font-size: 16px !important;
  margin: 0 !important; }

.text-invert .text-primary-invert {
  background-color: #83a598 !important;
  color: #282828 !important;
  font-family: 16px !important;
  margin: 0 !important; }

.text-success-invert {
  background-color: #8ec07C !important;
  color: #282828 !important;
  font-size: 16px !important;
  margin: 0 !important; }

.text-warning-invert {
  background-color: #fabd2f !important;
  color: #282828 !important;
  font-size: 16px !important;
  margin: 0 !important; }

.text-danger-invert {
  background-color: #fb4934 !important;
  color: #282828 !important;
  font-size: 16px !important;
  margin: 0 !important; }

/* colors */
/* basic colors */
/* domain color */
.node {
  stroke: #83a598;
  stroke-width: 2px;
  fill: #282828; }

.edge {
  stroke: #83a598;
  stroke-width: 2px; }
